:root {
    --hue-color: 240;

    --white-color: hsl(var(--hue-color), 0%, 100%);
    --font-bold: 700;
}

/*========== SCROLL BAR ==========*/
::-webkit-scrollbar {
    width: .60rem;
    /* background-color: hsla(var(--hue-color), 100%, 50%, 0.58); */
    background-color: transparent;
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(var(--hue-color), 80%, 40%);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--hue-color), 100%, 50%);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #212121;
}

/* .searchBoxContainer {
    margin: 15px;
    padding: 5px 8px;
    border: 1px solid whitesmoke;
    border-radius: 80px !important;
}

.search-input {
    background-color: transparent;
    height: 50px;
    outline: 0;
    border: 0;
    font-size: 18px;
    color: var(--background-black);
} */

.searchBoxContainer {
    margin: 15px;
    padding: 5px 5px;
    border: 1px solid whitesmoke;
    border-radius: 80px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2c2c2c;
}

.search-input {
    background-color: transparent;
    color: whitesmoke;
    border: none;
    font-size: 18px;
    /* width: 100%; */
    outline: none;
    padding-left: 10px;
}

.clear-icon{
    color: rgb(255, 0, 0);
    cursor: pointer;
    /* border: 1px solid red; */
    border-radius: 50%;
    font-size: 20px;
    padding: 6px 12px;
    margin: 0px 5px;
}

.clear-icon:hover {
    color: rgb(255, 255, 255);
    background-color: red;
    transition: 0.2s ease-in-out;
}

.bi-x-lg{
    vertical-align: 1px !important;
}


::placeholder {
    color: whitesmoke !important;
}

.form-control:focus {
    background-color: transparent;
    color: whitesmoke;
    /* border: 1px solid blue !important; */
    box-shadow: none !important;
}

.search-button {
    padding: 10px 15px;
    border: none;
    border-radius: 80px;
    background-color: rgb(36, 84, 228);
    color: white;
    cursor: pointer;
}

.search-button:hover {
    background-color: blue;
    transition: 0.2s ease-in-out;
}


.list-group {
    margin: 15px;
}

.list-group-item {
    margin-bottom: 15px;
    background-color: transparent;
    color: whitesmoke;
    transition: opacity 0.2s, visibility 0.2s;
}

.list-group-item[style*="display: none"] {
    opacity: 0;
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
}

.list-group-item:hover {
    background-color: hsla(var(--hue-color), 100%, 60%, 0.75);
    font-weight: bold;
    transition: all 0.1s linear;
}

.list-group-item:first-child {
    border: 1px solid blue;
    border-radius: 0.375rem;
    background-color: transparent;
    color: whitesmoke;
}

.list-group-item+.list-group-item {
    border: 1px solid blue;
    /* border: none; */
    border-radius: 0.375rem;
}

.list-group-item+.list-group-item:hover, .list-group-item:first-child:hover {
    background-color: hsla(var(--hue-color), 100%, 60%, 0.75);
    /* transition: all 0.1s linear; */
}

.list-group a:hover {
    color: var(--white-color);
    font-weight: var(--font-bold);
}


/* -----------------------Modal------------------------------- */
.modal-content {
    background-color: #212121;
}

.modal-title {
    color: whitesmoke;
}

.form-control {
    background-color: #2c2c2c;
    color: whitesmoke;
}

.btn-close:hover {
    color: whitesmoke;
    background-color: red;
    transition: 0.2s ease-in-out;
    border-radius: 50%;
}


/* -----------------------Edit Mode Button------------------------------- */
.edit-container {
    position: fixed;
    bottom: -3px;
    right: 0px;
    z-index: 1;
}